html {
    --screen-width: calc(100vw - 20px);
    --button-width: calc(var(--screen-width) * 0.33);
}

body {
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
}

div.br {
    flex-basis: 100%;
    height: 0px;
}

div.game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.deck {
    flex: 1;
    margin: 0px;
    padding: 10px;
}

div.cell {
    align-items: center;
    color: white;
    display: flex;
    font-size: calc(var(--screen-width) * 0.05);
    justify-content: center;
    margin: 1px;
}

div.title {
    font-size: calc(var(--screen-width) * 0.08);
    margin-bottom: 10px;
}

div.cell>span {
    margin: 0px;
    text-align: center;
}

div.button {
    border-color: white;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
    flex-basis: var(--button-width);
    height: calc(var(--button-width) * 0.6);
    padding: 2px;
    width: var(--button-width);
}

div.card {
    border-color: black;
    border-radius: 10%;
    border-style: solid;
    border-width: 3px;
    flex-basis: 100%;
    padding: 5px;
}

div.count {
    flex: 1;
    padding: 5px;
}

div.line {
    padding: 5px;
    width: 100%;
}

div.evacuee {
    background-color: #004400;
}

div.danger1 {
    background-color: #333300;
}

div.danger2 {
    background-color: #440000;
}