<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkRichardson.SingleProcessMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MarkRichardson.SingleProcessMonitor.Properties.Settings>
            <setting name="ImageName" serializeAs="String">
                <value>WRSA</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CpuUsageWarning" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CpuUsageCritical" serializeAs="String">
                <value>60</value>
            </setting>
        </MarkRichardson.SingleProcessMonitor.Properties.Settings>
    </applicationSettings>
</configuration>