body {
  margin: 0px;
}

div.game {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #006000;
}

div.end-year {
  position: absolute;
  right: 15px;
  bottom: 235px;
  width: 125px;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-style: outset;
  border-width: 5px;
  display: inline-block;
  padding: 10px;
  color: sandybrown;
  text-align: center;
}
