body {
  margin: 0px;
}

.fade {
  transition-duration: 0.5s;
  transition-property: all;
}

div.title-screen h1 {
  position: absolute;
  left: 0px;
  bottom: 50vh;
  width: 100vw;
  height: 20vh;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 20vh;
}

div.title-screen footer {
  position: absolute;
  left: 0px;
  bottom: 5vh;
  width: 100vw;
  align-content: baseline;
  text-align: center;
  font-size: 12pt;
}

div.year {
  position: absolute;
  left: calc(50vw - 200px);
  top: calc(50vh - 100px);
  width: 400px;
  height: 200px;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-style: outset;
  border-width: 5px;
  color: sandybrown;
}

div.year > span {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: 100px;
  color: sandybrown;
}

div.tutorial {
  position: absolute;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-style: outset;
  border-width: 5px;
  display: inline-block;
  padding: 10px;
  color: sandybrown;
}

div.tutorial p {
  margin: 5px;
  font-size: 12pt;
}

div.game-over {
  position: absolute;
  left: calc(50vw - 300px);
  top: calc(50vh - 100px);
  width: 600px;
  height: 200px;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-style: outset;
  border-width: 5px;
  color: sandybrown;
  display: inline-block;
  padding: 10px;
}

div.game-over h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  align-content: center;
  text-align: center;
  font-size: 60%;
}

.action {
  border-color: saddlebrown;
  border-style: outset;
  border-width: 1px;
  padding: 5px;
}

.action:active {
  border-style: inset;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 4px;
}

div.game {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #006000;
}

div.booster-tray {
  position: absolute;
  left: 0px;
  top: calc(50vh - 150px);
  width: 100vw;
  height: 300px;
  z-index: 300;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-bottom-style: outset;
  border-top-style: outset;
  border-width: 5px;
}

div.item {
  position: absolute;
}

div.booster {
  width: 170px;
  height: 230px;
}

div.card {
  width: 150px;
  height: 210px;
}

div.card > div {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(180deg);
}

div.card div.side {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  overflow: hidden;
  backface-visibility: hidden;
  background-color: beige;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

div.side > img:first-of-type {
  position: absolute;
  left: 0mm;
  top: 0mm;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.title {
  position: absolute;
  margin: 7px;
  width: calc(100% - 14px);
  height: 20px;
  display: flex;
  background-color: #bb876f;
  border-radius: 5px;
  align-items: center;
}

div.title > img {
  margin: -5px;
  width: 30px;
  height: 30px;
  flex-basis: 20px;
  flex-grow: 0px;
  flex-shrink: 0px;
}

div.title > span {
  flex: 1;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  font-size: 16px;
}
