div.item {
  position: absolute;
}

div.booster {
  left: calc(50vw - 80px);
  top: calc(50vh - 115px);
  width: 160px;
  height: 230px;
}

div.card {
  left: calc(50vw - 75px);
  top: calc(50vh - 105px);
  width: 150px;
  height: 210px;
}

div.card > div {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.reverse {
  transform: rotateY(180deg);
}

div.card div.side {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  overflow: hidden;
  backface-visibility: hidden;
  background-color: beige;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

div.side > img:first-of-type {
  position: absolute;
  left: 0mm;
  top: 0mm;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.title {
  position: absolute;
  margin: 7px;
  width: calc(100% - 14px);
  height: 20px;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

div.title > img {
  margin: -5px;
  width: 30px;
  height: 30px;
  flex-basis: 20px;
  flex-grow: 0px;
  flex-shrink: 0px;
}

div.title > span {
  flex: 1;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow:
    +1px +1px 0 #f6cf94,
    -1px +1px 0 #f6cf94,
    -1px -1px 0 #f6cf94,
    +1px -1px 0 #f6cf94;
}
