html {
    --screen-width: calc(100vw - 20px);
    --button-width: calc(var(--screen-width) / 3 - 8px);
}

@media screen and (min-width: 400px) {
    html {
        --button-width: calc(var(--screen-width) / 4 - 8px);
    }    
}

@media screen and (min-width: 500px) {
    html {
        --button-width: calc(var(--screen-width) / 5 - 8px);
    }    
}

@media screen and (min-width: 600px) {
    html {
        --button-width: calc(100px - 8px);
    }    
}

.hidden {
    display: none !important;
}

body {
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
}

div.form {
    border-bottom: 3px solid green;
    margin: 0px;
    padding: 10px;
    vertical-align: baseline;
    width: var(--screen-width);
}

div.section {
    border-bottom: 3px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    width: var(--screen-width);
}

input {
    background-color: transparent;
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    color: lightgreen;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.epidemic {
    color: #FF0000;
    font-weight: bold;
}

span.label {
    color: green;
}

span.value {
    color: lightgreen;
    font-weight: bold;
}

p.info {
    text-align: center;
    width: 100%;
}

div.phase {
    opacity: calc(2 / 3);
}
div.phase:nth-child(4) {
    opacity: 1.0;
}

div.cell {
    align-items: center;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    color: white;
    display: flex;
    font-size: calc(var(--button-width) * 0.15);
    height: calc(var(--button-width) * 0.6);
    justify-content: center;
    margin: 1px;
    padding: 2px;
    width: var(--button-width);
}

div.cell>span {
    margin: 0px;
    text-align: center;
}

div.black {
    background-color: #00000055;
    border-color: #555555;
}

div.blue {
    background-color: #0000FF55;
    border-color: #0000FF;
}

div.red {
    background-color: #FF000055;
    border-color: #FF0000;
}

div.yellow {
    background-color: #80800055;
    border-color: #808000;
}

svg#pawn {
    display: inline-block;
    height: 20pt;
    vertical-align: middle;
    width: 20pt;
}
