body {
    background-color: black;
    font-family: sans-serif;
}

body div {
    padding: 10px;
    width: calc(100% - 26px);
}

button {
    font-size: 30px;
}

span.label {
    color: green;
    font-size: 40px;
    font-weight: bold;
}

span.infectionRate {
    color: lightgreen;
    font-size: 40px;
    font-weight: bold;
}

div.phase {
    border-top: 3px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.5;
}
div.phase:nth-child(3) {
    opacity: 1.0;
}

div.phase div {
    align-items: center;
    color: white;
    display: flex;
    font-size: 14pt;
    height: 120px;
    justify-content: center;
    margin: 1px;
    padding: 2px;
    width: 120px;
}

div.phase div span {
    margin: 0px;
    text-align: center;
}

div.city {
    border: 1px solid #808080;
}

div.black {
    background-color: #00000040;
}

div.blue {
    background-color: #0000FF40;
}

div.red {
    background-color: #FF000040;
}

div.yellow {
    background-color: #FFFF0040;
}
