body {
    background-color: black;
    color: white;
    font-size: 1cm;
}

a {
    color: white;
}

li {
    margin: 5px;
}

.error {
    color: #F44;
}

div.atlas {
    height: 100%;
    width: 100%;
}

div.locations {
    width: 20%;
}

div.location {
    padding: 1%;
    width: 100%;
}

div.location.selected {
    background-color: darkred;
}

div.location>span {
    width: 100%;
}

div.map {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
}

div.map>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
